@import "@material/select/mdc-select";

.select {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__light {
    margin-top: -8.5rem;
  }

  &__coffee {
    margin-top: -6.2rem;
  }
}
